# Banco de dados TiDB
TIDB_URL=mysql://3X3ZFD5Si3PBowZ.root:rrWY2R1boa4F1Od9@gateway01.us-east-1.prod.aws.tidbcloud.com:4000/test

# API Resend (envio de emails)
RESEND_API_KEY=re_iYaTQtyf_AXzrdzHARZbuh24KtZbpY54S

# API Brave News
BRAVE_API_KEY=BSAhP0K0Ox0N8dMN4MuYuBEF7AMmdv7

# Porta do servidor
PORT=3000
